.#*
*.py[cod]
*.~
*.bak
__pycache__/
*.log
*.txt
grid_wrappers/
*.d
*.so
*.root
*.png
CoherentRatio.py
DrawProjectionMigration.py
DrawEel.py
DrawMigration.py
LacknerEfficiency.py
LacknerStudies/
readme.md/
results_storage/
scatterplot.py
selection/plotting/
xsec/tests
setup_ccnue.sh
setup_nccoh_al9.sh
setup_ncdiff.sh
MAT_AL9/
opt/
PlotUtils/
UnfoldUtils/
CVUniversePythonBinding/
